DATABASE_URL="postgresql://<db_user>:<db_pass>@localhost:5432/<db_table>?schema=public"
JWT_SECRET="replace-with-at-least-32-random-characters"
RETELL_API_KEY=""
RETELL_AGENT_ID=""
RETELL_FUNCTION_SECRET=""
TRACKINGMORE_API_KEY=""
TRACKINGMORE_BASE_URL="https://api.trackingmore.com/v4"
PUBLIC_APP_URL="http://localhost:3001"
WEB_ORIGIN="http://localhost:3000"
PORT=3001
